
.header {
	background-color: #030905;
	color: #FFFFFF;
}

.primary {
	background-color: #0A2014;
}

.primary-neutral {
	background-color: #0b2618;
}

.secondary {
	background-color: #36b170;
}

body {
	color: #E7DFDD;
	background-color: #0A2014;
}

p {
	margin-bottom: 0.5rem;
}

.card {
	color: #030905;
}

.list-group-item {
	padding: 0.1rem 0.5rem;
}

.col-md-3, .col-md-6 {
	padding-right: 0px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.playlists-button {
	margin-top: 10px;
}

#loading-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

tr:hover {
	background-color: rgb(11,38,24, 0.1);
}

.period {

}

.feature-sliders label, .feature-sliders p {
	display: inline;
}

.feature-sliders p {
	float: right;
}

.slide {
	margin-bottom: 1rem;
}

.star_container {
	text-align: center;
}

.star  {
	width: 1.7rem;
}

.star:hover {
	box-shadow: -1px 2px 4px #000000;
}

.key-tracks {
	margin-bottom: 25px;
}

.icons {
	padding: 0;
	margin: 0;
}

.track {
	width: 18%;
	display: inline;
	margin: 0 auto;
}

.track-icon {
	width: 100%;
	border-radius: 5px;
}

.detail {
	margin-top: 15px;
	width: 100%;
	border-radius: 15px;
	padding: 10px;
	background-color: rgb(200, 200, 200);
}

.detail-blurb {
	vertical-align: center;
}

.detail-blurb p {
	margin-bottom: 0;
}

.track-detail {
	display: none;
	vertical-align: center;
}

#key-artist, #key-album {
	margin-bottom: 2px;
}
